[*.{cs,vb}]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public
